{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title> </title>
    <link
      rel="icon"
      href="{% static 'main/favicon.ico' %}"
      type="image/x-icon"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Style CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jQueryFormStyler/2.0.2/jquery.formstyler.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jQueryFormStyler/2.0.2/jquery.formstyler.theme.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
      integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    {% comment %} <div class="top_line">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top_line__wrap">
                        <div class="social_btn">
                            <a href="https://facebook.com" target="blanc"><img src="{% static 'main/img/facebook.svg' %}" width="32"
                                    height="32"></a>
                            <a href="https://youtube.com" target="blanc"><img src="{% static 'main/img/youtube.svg' %}" width="32"
                                    height="32"></a>
                            <a href="https://instagram.com" target="blanc"><img src="{% static 'main/img/instagram.svg' %}" width="32"
                                    height="32"></a>
                        </div>
                        <div class="lang_switcher">
                            <div class="dropdown">
                                <div class="dropbtn"><img src="{% static 'main/img/flag-ru.png' %}">RU</div>
                                <div class="dropdown_content">
                                    <a href="#"><img src="{% static 'main/img/flag-ru.png' %}">RU</a>
                                    <a href="#"><img src="{% static 'main/img/flag-ru.png' %}">EN</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header_wrap">
                        <a href="/" class="logo">
                            <img src="{% static 'main/img/logo.svg' %}" alt="Konstar">
                        </a>
                        <div class="header_addr">
                            <div class="addr_ico">
                                <img src="{% static 'main/img/map.svg' %}" alt="map-ico">
                            </div>
                            <a href="https://yandex.ru/maps/-/CCUizPaa1D" class="addr_text" target="_blanc">
                                <span>Калужская обл., г. Обнинск,</span>
                                <span>Пионерский проезд 46</span>
                            </a>
                        </div>

                        <div class="header_contacts header_contacts--mail">
                            <img src="{% static 'main/img/worldwide.svg' %}" alt="worlwide">
                            <a class="header_contacts--mail" href="mailto:info@konstar.ru">info@konstar.ru</a>
                        </div>
                        <div class="header_contacts">
                            <img src="{% static 'main/img/phone_ico.svg' %}" alt="phone ico">
                            <a class="header_contacts--phone" href="tel:+74843933161">+7 (484) 393-31-61</a>
                        </div>
                        <a href="#" class="call_btn">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            Мы перезвоним
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% include 'main/menu.html' %}

{% block content %}{% endblock %}

{% include 'main/footer.html' %}

</body>
<script src="{% static 'menu/script.js' %}"></script>
<script src="{% static 'menu/dynamic-menu.js' %}"></script>
<script src="{% static 'main/js/script.js' %}"></script>
</html>