{% extends 'main/base.html' %} 
{% load static %}

{% block content %}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                
                    <ul class="breadcrumbs_list">
                        <li><a href="#"><img src="/static/main/img/ico_home.svg" alt="home"></a></li>
                        <li><a href="#">Каталог продукци</a></li>
                        <li><a href="#">Труборезы</a></li>
                        <li><a href="#">Труборез разъемный</a></li>
                    </ul>
            </div>
        </div>
    </div>
</div>

<div class="cart_wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar_section">
                    <div class="services_menu">
                        <ul>
                            <li><a href="#">Труборезы и фаскорезы</a></li>
                            <li><a href="#">Орбитальная сварка труб</a></li>
                            <li><a href="#">Механизмы нарезания резьбы на обсадных трубах</a></li>
                            <li><a href="#">Механизмы для ремонта запорной араматуры</a></li>
                            <li><a href="#">Оборудование для АЭС</a></li>
                            <li><a href="#">Прочее оборудование</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-5">
                        <div class="product_img">
                            <img src="/static/main/img/product1.png" alt="product">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="product_detail">
                            <div class="product_title">Труборез разъемный</div>
                            <div id="charact" class="product_charact">
                                  <ul>
                                      <li><span>Диаметры обрабатываемых труб, мм</span> <span>219...426</span></li>
                                      <li><span>Привод электрический, мощность кВт</span> <span>2.6</span></li>
                                      <li><span>Потребляемый ток, А</span> <span>Не более 10</span></li>
                                      <li><span>Подача резца, автоматическая мм/об.планшайбы</span> <span>0,075</span></li>
                                      <li><span>Вес вращателя ± 10%, кг</span> <span>55</span></li>
                                  </ul>
                            </div>
                            <div class="product_complect">
                                <div class="product_complect_title">Стандартный комплект поставки:</div>
                                <ul>
                                    <li>вращатель</li>
                                    <li>привод</li>
                                    <li>два отрезных суппорта </li>
                                    <li>режущий инструмент из Р18 (8 резцов)</li>
                                    <li>комплект принадлежностей и запасных частей</li>
                                    <li>инструкция по эксплуатации</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cart_wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar_section">
                    <div class="popular_product">
                       <div class="popular_product_title">Популярные продукты</div>
                       <div class="popular_item">
                           <div class="popular_item_img">
                               <img src="/static/main/img/popular-img.png" alt="">
                           </div>
                           <div class="popular_item_text">
                               <p class="popular_item_title">Труборез разъемный</p>
                               <p class="marka">P5925 <br>Ф 219-426мм</p>
                               
                           </div>
                       </div>
                       <div class="popular_item">
                        <div class="popular_item_img">
                            <img src="/static/main/img/popular-img.png" alt="">
                        </div>
                        <div class="popular_item_text">
                            <p class="popular_item_title">Труборез разъемный</p>
                            <p class="marka">P5925 <br>Ф 219-426мм</p>
                            
                        </div>
                    </div>
                    <div class="popular_item">
                        <div class="popular_item_img">
                            <img src="/static/main/img/popular-img.png" alt="">
                        </div>
                        <div class="popular_item_text">
                            <p class="popular_item_title">Труборез разъемный</p>
                            <p class="marka">P5925 <br>Ф 219-426мм</p>
                            
                        </div>
                    </div> 
                    </div>
                </div>
            </div>


            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="product_tab">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#description">Описание</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#characteristics">Все xарактеристики</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#opinion">Доп. оборудование</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#model">Модельный ряд</a>
                      </li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="description">
                        
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="desc_content">
                                        <p>
                                          Разъемные труборезы предназначены для отрезки, обработки наружной фаски и расточки внутреннего диаметра труб, под последующую сварку. Оборудование для резки труб КОНСТАР позволяет произвести отрезку в любом месте трубопровода, в том числе и «бесконечно длинных» (не имеющих доступа с торца). Переносные труборезы базируются по наружному диаметру трубы, состоят из взаимозаменяемых модулей, и имеют пневматический или электрический приводы, а также могут комплектоваться гидроприводами во взрывобезопасном исполнении. Машины для резки труб вписываются в минимальное пространство вокруг трубы и обеспечивают необходимую точность механической обработки резцами.
                                        </p>
                                        <p>
                                          В стандартном комплекте поставки оборудование комплектуется режущим инструментом из быстрорежущей стали Р18 в количестве 8-ми двухсторонних резцов на механизм
                                          и принадлежностями для выполнения отрезки и обработки наружной фаски.                                    
                                        </p>
                                        <p>
                                          Труборезы внедрены на всех АЭС России, поставляются Концерну «Росэнергоатом», корпорациям ГАЗПРОМ, РОСНЕФТЬ, ЛУКОИЛ, предприятиям космической, химической, пищевой, нефтяной
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="tab_sertif">
                                        <a href="/static/main/img/sertificate.png" data-fancybox data-caption="Caption for single image">
                                            <img src="/static/main/img/sertificate.png" alt="Konstar" />
                                        </a>
                                    </div>
                                    <div class="under_sertif_text">
                                        Труборезы КОНСТАР допущены 
                                        к работе на предприятиях ГАЗПРОМ
                                        и имеют сертификат ИНТЕРГАЗСЕРТ.
                                    </div>
                                </div>
                            </div>
                            <div class="tab_advantage">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="avantage_list_title">Основные преимущества</div>
                                        <ul class="advantage_list">
                                            <li>унифицированный быстросъемный пневмо-, электро-, электро- во взрывобезопасном исполнении или гидро- привод</li>
                                            <li>возможность раздельного включения и выключения подачи резцов во время работы позволяет в разы уменьшить время настройки на рез и подготовки необходимой геометрии кромки</li>
                                            <li>автоматическое отключение подачи резца при перегрузке исключает поломку режущего инструмента и выход механизма из строя</li>
                                            <li>узлы настройки, компенсирующие износ, исключают люфты и сохраняют жесткость трубореза на весь срок эксплуатации</li>
                                            <li>автоматические фиксаторы исключают «выкатывание» планшайбы в разобранном состоянии</li>
                                            <li>адаптер для внутренней расточки оснащен микрометрическим винтом для точной выставки резца</li>
                                            <li>труборезы оснащаются устройствами, позволяющими в автоматическом режиме растачивать внутренние диаметры труб и обрабатывать сложные фаски осевой подачей с копированием наружного диаметра</li>
                                            <li>возможность обработки любых материалов (от пластика до высоколегированных и нержавеющих сталей, а также цветных металлов и сплавов)</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        
                        
                    </div>
                    <div class="tab-pane fade" id="characteristics">
                      
                        <div class="tab_content_wrap">
                            <div class="tab_char_title">Варианты разделки торцев труб в зависимости от инструмента и настройки</div>
                            <div class="razdelka_tryb">
                                <img src="{% static 'main/img/tryba-razdelka-img.png'%}" alt="Вариант разделки труб">
                                <img src="/static/main/img/tryba-razdelka-img1.png" alt="Вариант разделки труб">
                                <img src="/static/main/img/tryba-razdelka-img2.png" alt="Вариант разделки труб">
                                <img src="/static/main/img/tryba-razdelka-img3.png" alt="Вариант разделки труб">
                                <img src="/static/main/img/tryba-razdelka-img4.png" alt="Вариант разделки труб">
                                <img src="/static/main/img/tryba-razdelka-img5.png" alt="Вариант разделки труб">
                            </div>
                            <div class="tab_char_title">Пример обработки трубы Ø530х65 мм</div>
                            <div class="obrabotka_tryb">
                                <img src="/static/main/img/razdelka-img.png" alt="Вариант разделки труб">
                                <img src="/static/main/img/razdelka-img.png" alt="Вариант разделки труб">
                                <img src="/static/main/img/razdelka-img.png" alt="Вариант разделки труб">
                                <img src="/static/main/img/razdelka-img.png" alt="Вариант разделки труб">
                            </div>
                            <div class="tab_char_title">Пример обработки трубы Ø159х10 мм труборезом с одновременной отрезкой и снятием фаски</div>
                            <div class="obrabotka_tryb">
                                <img src="/static/main/img/obrabotka159-10.png" alt="obrabotka159 na 10">
                            </div>
                            <div class="tab_char_title">Технические характеристики:</div>
                            <div class="tab_list">
                                <table>
                                    <tr>
                                        <td>Диаметры обрабатываемых труб, мм</td>
                                        <td>219…426</td>
                                    </tr>
                                    <tr>
                                        <td>Материал обрабатываемых труб</td>
                                        <td>Стали углеродистые; стали коррозионно-стойкие</td>
                                    </tr>
                                    <tr>
                                        <td>Привод электрический, мощность кВт</td>
                                        <td>2,6</td>
                                    </tr>
                                    <tr>
                                        <td>Потребляемый ток, А</td>
                                        <td>Не более 10</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Привод пневматический
                                            <ul class="inner_list">
                                                <li><span>мощность, кВт </span></li>
                                                <li><span>давление, мах бар </span></li>
                                                <li><span>расход воздуха м3/мин </span></li>
                                            </ul>                                             
                                        </td>
                                        <td>
                                            <br>
                                            <ul class="inner_list2">
                                                <li><span>1,0…2,0</span></li>
                                                <li><span>175</span></li>
                                                <li><span>~2,5</span></li>
                                            </ul>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Привод гидравлический
                                            <ul class="inner_list">
                                                <li><span>рабочий объем, см3 </span></li>
                                                <li><span>мощность, кВт </span></li>
                                                <li><span>давление, мах бар </span></li>
                                                <li><span>расход воздуха м3/мин </span></li>
                                            </ul>                                             
                                        </td>
                                        <td>
                                            <br>
                                            <ul class="inner_list2">
                                                <li><span>160</span></li>
                                                <li><span>1,0…2,0</span></li>
                                                <li><span>175</span></li>
                                                <li><span>~2,5</span></li>
                                            </ul>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Частота вращения планшайбы (холостого хода) + 20%
                                            <ul class="inner_list">
                                                <li><span>при обработке коррозионно-стойкой стали, об/мин </span></li>
                                                <li><span>при обработке углеродистой стали, об/мин </span></li>
                                            </ul>                                             
                                        </td>
                                        <td>
                                            <br>
                                            <ul class="inner_list2">
                                                <li><span>8,5</span></li>
                                                <li><span>16</span></li>
                                            </ul>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Привод пневматический</td>
                                        <td>0,075</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Габаритные размеры вращателя
                                            <ul class="inner_list">
                                                <li><span>при обработке коррозионно-стойкой стали, об/мин </span></li>
                                                <li><span>D вн х D нар, мм </span></li>
                                                <li><span>высота, мм </span></li>
                                            </ul>                                             
                                        </td>
                                        <td>
                                            <br>
                                            <ul class="inner_list2">
                                                <li><span>8,5</span></li>
                                                <li><span>451 х 626</span></li>
                                                <li><span>80</span></li>
                                            </ul>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Вес вращателя ± 10%, кг</td>
                                        <td>55</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="opinion">
                      Отзывы...
                    </div>
                    <div class="tab-pane fade" id="model">
                        Модельный ряд...
                      </div>
                  </div>
                  </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}