{% extends 'main/base.html' %} {% load static %} {% block content %}

<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="breadcrumbs_list">
          <li>
            <a href="#"><img src="/static/main/img/ico_home.svg" alt="home" /></a>
          </li>
          <li><a href="#">Каталог</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="add-catalog">
  <div class="container add-catalog__container">
      <h2 class="add-catalog__title">Труборезы и фаскорезы</h2>
      <div class="add-catalog__content">
          <ul class="list-reset add-catalog__list">
              <li class="add-catalog__item">
                  <div class="swiper add-catalog__swipper">
                      <div class="swiper-wrapper">
                          <div class="swiper-slide add-catalog__img">
                              <img src="/static/main/img/obrabotka159-10.png" alt="Труборез разъемный">
                          </div>
                          <div class="swiper-slide add-catalog__img">
                              <img src="/static/main/img/product1.png" alt="Труборез разъемный">
                          </div>
                          <div class="swiper-slide add-catalog__img">
                              <img src="/static/main/img/product1.png" alt="Труборез разъемный">
                          </div>
                          <div class="swiper-slide add-catalog__img">
                              <img src="/static/main/img/product1.png" alt="Труборез разъемный">
                          </div>
                      </div>
                      <div class="swiper-pagination"></div>
                      <div class="swiper-scrollbar"></div>
                  </div>
                  <h3 class="add-catalog__subtitle">Труборез разъемный</h3>
                  <div class="add-catalog__descr c-descr">
                      <div class="c-descr__item">
                          <div class="c-descr__name">Диаметр обрабатываемых труб, мм</div>
                          <div class="c-descr__value">3</div>
                      </div>
                      <div class="c-descr__item">
                          <div class="c-descr__name">Привод электический, мощностью кВт</div>
                          <div class="c-descr__value">2</div>
                      </div>
                      <div class="c-descr__item">
                          <div class="c-descr__name">Потребляемый ток, А</div>
                          <div class="c-descr__value">42</div>
                      </div>
                      <div class="c-descr__item">
                          <div class="c-descr__name">Подача резца, автоматическая мм/об.планшайбы</div>
                          <div class="c-descr__value">12</div>
                      </div>
                  </div>
                  <a href="#" class="add-catalog__link add-catalog__link--video">
                      <img class="link-img" src="/static/main/img/youtube-link.svg" alt="">
                      <span>Видео</span>
                  </a>
                  <div class="add-catalog__footer">
                      <a href="/cart" class="add-catalog__link add-catalog__link--btn">Подробнее</a>
                  </div>
              </li>
              <li class="add-catalog__item">
                  <div class="swiper add-catalog__swipper">
                      <div class="swiper-wrapper">
                          <div class="swiper-slide add-catalog__img">
                              <img src="/static/main/img/razdelka-img.png" alt="Труборез разъемный">
                          </div>
                          <div class="swiper-slide add-catalog__img">
                              <img src="/static/main/img/product1.png" alt="Труборез разъемный">
                          </div>
                          <div class="swiper-slide add-catalog__img">
                              <img src="/static/main/img/product1.png" alt="Труборез разъемный">
                          </div>
                          <div class="swiper-slide add-catalog__img">
                              <img src="/static/main/img/product1.png" alt="Труборез разъемный">
                          </div>
                      </div>
                      <div class="swiper-pagination"></div>
                      <div class="swiper-scrollbar"></div>
                  </div>
                  <h3 class="add-catalog__subtitle">Труборез разъемный</h3>
                  <div class="add-catalog__descr c-descr">
                      <div class="c-descr__item">
                          <div class="c-descr__name">Диаметр обрабатываемых труб, мм</div>
                          <div class="c-descr__value">20</div>
                      </div>
                      <div class="c-descr__item">
                          <div class="c-descr__name">Привод электический, мощностью кВт</div>
                          <div class="c-descr__value">20</div>
                      </div>
                      <div class="c-descr__item">
                          <div class="c-descr__name">Потребляемый ток, А</div>
                          <div class="c-descr__value">420</div>
                      </div>
                      <div class="c-descr__item">
                          <div class="c-descr__name">Подача резца, автоматическая мм/об.планшайбы</div>
                          <div class="c-descr__value">1211</div>
                      </div>
                  </div>
                  <a href="#" class="add-catalog__link add-catalog__link--video">
                      <img class="link-img" src="/static/main/img/youtube-link.svg" alt="">
                      <span>Видео</span>
                  </a>
                  <div class="add-catalog__footer">
                      <a href="/cart" class="add-catalog__link add-catalog__link--btn">Подробнее</a>
                  </div>
              </li>
              <li class="add-catalog__item">
                  <div class="swiper add-catalog__swipper">
                      <div class="swiper-wrapper">
                          <div class="swiper-slide add-catalog__img">
                              <img src="/static/main/img/slide.png" alt="Труборез разъемный">
                          </div>
                      </div>
                      <div class="swiper-pagination"></div>
                      <div class="swiper-scrollbar"></div>
                  </div>
                  <h3 class="add-catalog__subtitle">Труборез разъемный</h3>
                  <div class="add-catalog__descr c-descr">
                      <div class="c-descr__item">
                          <div class="c-descr__name">Диаметр обрабатываемых труб, мм</div>
                          <div class="c-descr__value">5</div>
                      </div>
                      <div class="c-descr__item">
                          <div class="c-descr__name">Привод электический, мощностью кВт</div>
                          <div class="c-descr__value">1000</div>
                      </div>
                      <div class="c-descr__item">
                          <div class="c-descr__name">Потребляемый ток, А</div>
                          <div class="c-descr__value">402</div>
                      </div>
                      <div class="c-descr__item">
                          <div class="c-descr__name">Подача резца, автоматическая мм/об.планшайбы</div>
                          <div class="c-descr__value">102</div>
                      </div>
                  </div>
                  <a href="#" class="add-catalog__link add-catalog__link--video">
                      <img class="link-img" src="/static/main/img/youtube-link.svg" alt="">
                      <span>Видео</span>
                  </a>
                  <div class="add-catalog__footer">
                      <a href="/cart" class="add-catalog__link add-catalog__link--btn">Подробнее</a>
                  </div>
              </li>
              <li class="add-catalog__item">
                  <div class="swiper add-catalog__swipper">
                      <div class="swiper-wrapper">
                          <div class="swiper-slide add-catalog__img">
                              <img src="/static/main/img/rezba-obsad.png" alt="Труборез разъемный">
                          </div>
                          <div class="swiper-slide add-catalog__img">
                              <img src="/static/main/img/product1.png" alt="Труборез разъемный">
                          </div>
                      </div>
                      <div class="swiper-pagination"></div>
                      <div class="swiper-scrollbar"></div>
                  </div>
                  <h3 class="add-catalog__subtitle">Труборез разъемный</h3>
                  <div class="add-catalog__descr c-descr">
                      <div class="c-descr__item">
                          <div class="c-descr__name">Диаметр обрабатываемых труб, мм</div>
                          <div class="c-descr__value">1</div>
                      </div>
                      <div class="c-descr__item">
                          <div class="c-descr__name">Привод электический, мощностью кВт</div>
                          <div class="c-descr__value">2</div>
                      </div>
                      <div class="c-descr__item">
                          <div class="c-descr__name">Потребляемый ток, А</div>
                          <div class="c-descr__value">2</div>
                      </div>
                      <div class="c-descr__item">
                          <div class="c-descr__name">Подача резца, автоматическая мм/об.планшайбы</div>
                          <div class="c-descr__value">5</div>
                      </div>
                  </div>
                  <a href="#" class="add-catalog__link add-catalog__link--video">
                      <img class="link-img" src="/static/main/img/youtube-link.svg" alt="">
                      <span>Видео</span>
                  </a>
                  <div class="add-catalog__footer">
                      <a href="/cart" class="add-catalog__link add-catalog__link--btn">Подробнее</a>
                  </div>
              </li>
          </ul>
      </div>
  </div>
</div>

{% endblock %}
