{% extends 'main/base.html' %} {% load static %} {% block content %}
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="breadcrumbs_list">
          <li>
            <a href="#"><img src="{% static 'main/img/ico_home.svg'%}" alt="home" /></a>
          </li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="contacts_map">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12 col-xs-12">
        <div class="contacts_addr">
          Калужская обл., г. Обнинск, Пионерский проезд 46
        </div>
        <div class="contacts_phone">
          <a href="tel:+74843933161">+7 (484) 393-31-61</a>
          <a href="tel:+74843933161">моб.: +7 (484) 393-31-61</a>
        </div>
        <div class="contacts_mail">
          <a href="mailto:info@konstar.ru">info@konstar.ru</a>
        </div>

        <div class="contacts_page_form">
          <div class="contacts_page_form_title">
            Оставьте своё сообщение,<br />и мы свяжемся с вами
          </div>
          <form action="/contacts" method='post'>
            {% csrf_token %}
            <div class="name_phone_line">
              <div class="form_input_wrap">
                <label for="c_name">Ваше имя</label>
                <input
                  type="text"
                  id="c_name"
                  name="username"
                  placeholder="Введите свое имя"
                />
              </div>
              <div class="form_input_wrap">
                <label for="c_phone">Ваш телефон</label>
                <input
                  type="text"
                  id="c_phone"
                  name="phone"
                  placeholder="Введите свой телефон"
                />
              </div>
            </div>
            <div class="textarea_line">
              <div class="form_input_wrap">
                <label for="c_text">Ваше сообщение</label>
                <textarea
                  name="message"
                  id="c_text"
                  cols="30"
                  rows="4"
                  placeholder="Оставьте своё сообщение"
                ></textarea>
              </div>
            </div>
            <button type="submit" class="c_button">Отправить</button>
          </form>
        </div>
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12">
        <div class="map_wrap">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2282.855733437456!2d36.582735015631016!3d55.09829024974687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46cad2f49d35bfb5%3A0x49f4bb2ffb413eb7!2z0J_QuNC-0L3QtdGA0YHQutC40Lkg0L_RgC3QtCwgNDYsINCe0LHQvdC40L3RgdC6LCDQmtCw0LvRg9C20YHQutCw0Y8g0L7QsdC7Liwg0KDQvtGB0YHQuNGPLCAyNDkwMzg!5e0!3m2!1sru!2sua!4v1623660466265!5m2!1sru!2sua"
            width="100%"
            height="100%"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
