{% extends 'main/base.html' %} {% load static %} {% block content %}

<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="breadcrumbs_list">
          <li>
            <a href="#"
              ><img src="{% static 'main/img/ico_home.svg'%}" alt="home"
            /></a>
          </li>
          <li><a href="#">Документация</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="doc_title_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="doc_title">Lorem Ipsum - это текст-"рыба"</h2>
      </div>
    </div>
  </div>
</div>

<div class="doc_list_section">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="doc_list_item">
          <a data-fancybox="gallery" href="/static/main/img/doc.png">
            <img
              class="doc_img"
              src="/static/main/img/doc.png"
              alt="Documentation"
            />
            <img
              class="doc_select"
              src="/static/main/img/doc-select.svg"
              alt="#"
            />
          </a>
          <div class="doc_text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне.
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc_list_item">
          <a data-fancybox="gallery" href="/static/main/img/doc.png">
            <img
              class="doc_img"
              src="/static/main/img/doc.png"
              alt="Documentation"
            />
            <img
              class="doc_select"
              src="/static/main/img/doc-select.svg"
              alt="#"
            />
          </a>
          <div class="doc_text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне.
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc_list_item">
          <a data-fancybox="gallery" href="/static/main/img/doc.png">
            <img
              class="doc_img"
              src="/static/main/img/doc.png"
              alt="Documentation"
            />
            <img
              class="doc_select"
              src="/static/main/img/doc-select.svg"
              alt="#"
            />
          </a>
          <div class="doc_text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне.
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc_list_item">
          <a data-fancybox="gallery" href="/static/main/img/doc.png">
            <img
              class="doc_img"
              src="/static/main/img/doc.png"
              alt="Documentation"
            />
            <img
              class="doc_select"
              src="/static/main/img/doc-select.svg"
              alt="#"
            />
          </a>
          <div class="doc_text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне.
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc_list_item">
          <a data-fancybox="gallery" href="/static/main/img/doc.png">
            <img
              class="doc_img"
              src="/static/main/img/doc.png"
              alt="Documentation"
            />
            <img
              class="doc_select"
              src="/static/main/img/doc-select.svg"
              alt="#"
            />
          </a>
          <div class="doc_text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне.
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc_list_item">
          <a data-fancybox="gallery" href="/static/main/img/doc.png">
            <img
              class="doc_img"
              src="/static/main/img/doc.png"
              alt="Documentation"
            />
            <img
              class="doc_select"
              src="/static/main/img/doc-select.svg"
              alt="#"
            />
          </a>
          <div class="doc_text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне.
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc_list_item">
          <a data-fancybox="gallery" href="/static/main/img/doc.png">
            <img
              class="doc_img"
              src="/static/main/img/doc.png"
              alt="Documentation"
            />
            <img
              class="doc_select"
              src="/static/main/img/doc-select.svg"
              alt="#"
            />
          </a>
          <div class="doc_text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне.
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc_list_item">
          <a data-fancybox="gallery" href="/static/main/img/doc.png">
            <img
              class="doc_img"
              src="/static/main/img/doc.png"
              alt="Documentation"
            />
            <img
              class="doc_select"
              src="/static/main/img/doc-select.svg"
              alt="#"
            />
          </a>
          <div class="doc_text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне.
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc_list_item">
          <a data-fancybox="gallery" href="/static/main/img/doc.png">
            <img
              class="doc_img"
              src="/static/main/img/doc.png"
              alt="Documentation"
            />
            <img
              class="doc_select"
              src="/static/main/img/doc-select.svg"
              alt="#"
            />
          </a>
          <div class="doc_text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне.
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc_list_item">
          <a data-fancybox="gallery" href="/static/main/img/doc.png">
            <img
              class="doc_img"
              src="/static/main/img/doc.png"
              alt="Documentation"
            />
            <img
              class="doc_select"
              src="/static/main/img/doc-select.svg"
              alt="#"
            />
          </a>
          <div class="doc_text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
