{% extends 'main/base.html' %} 
{% load static %}

{% block content %}

<div class="hero_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero_wrap">
                    <div class="hero_text">
                        <div class="hero_title">
                            За 25 лет<br>
                            <span>более 500 моделей</span>
                            механизмов
                        </div>
                        <div class="hero_sub_title">
                            В кратчайшие сроки модернизируем существующее или разработаем и изготовим новое
                            нестандартное оборудование
                        </div>
                        <a href="#" class="hero_btn">Подробнее <i class="fa fa-long-arrow-right"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="our_production">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title">
                    <h2>Продукция нашей компании</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="production_item_wrap">
                    <a href="#" class="production_item">
                        <div class="production_item--img" style="background: url(/static/main/img/truborez.png);">
                            <div class="blu_rectangle">
                                <img src="/static/main/img/truborez-ico.png" alt="#">
                            </div>
                        </div>
                        <div class="production_item--text">
                            <p class="production_item_title">
                                Труборезы и фаскорезы
    
                            </p>
                            <ul>
                                <li>Разъемные труборезы</li>
                                <li>Неразъемные труборезы Фаскорезы</li>
                                <li>Гидравлические станции</li>
                                <li>Дополнительное оборудование</li>
                                <li>Запасные части</li>
                            </ul>
                        </div>
                    </a>
                </div>
                
            </div>

            <div class="col-md-4">
                <div class="production_item_wrap">
                    <a href="#" class="production_item">
                        <div class="production_item--img" style="background: url(/static/main/img/orbit-svarka.png);">
                            <div class="blu_rectangle">
                                <img src="/static/main/img/truborez-ico.png" alt="#">
                            </div>
                        </div>
                        <div class="production_item--text">
                            <p class="production_item_title">
                                Орбитальная сварка труб
                            </p>
                            <ul>
                                <li>Закрытые сварочные головки 4-121 мм</li>
                                <li>Открытые сварочные головки 170-1830 мм</li>
                                <li>Головки для сварки поворотных стыков</li>
                                <li>Сварочные головки для вварки в трубные доски</li>
                                <li>Специальные сварочные головки</li>
                            </ul>
                        </div>
                    </a>
                </div>
                
            </div>

            <div class="col-md-4">
                <div class="production_item_wrap">
                    <a href="#" class="production_item">
                        <div class="production_item--img" style="background: url(/static/main/img/rezba-obsad.png);">
                            <div class="blu_rectangle">
                                <img src="/static/main/img/truborez-ico.png" alt="#">
                            </div>
                        </div>
                        <div class="production_item--text">
                            <p class="production_item_title">
                                Механизмы нарезания резьбы на обсадных трубах
                            </p>
                            <ul>
                                <li>Гидростанции</li>
                                <li>Дополнительное оборудование</li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="production_item_wrap">
                    <a href="#" class="production_item">
                        <div class="production_item--img" style="background: url(/static/main/img/zap-armatyra.png);">
                            <div class="blu_rectangle">
                                <img src="/static/main/img/truborez-ico.png" alt="#">
                            </div>
                        </div>
                        <div class="production_item--text">
                            <p class="production_item_title">
                                Механизмы для ремонта запорной араматуры
                            </p>
                            <ul>
                                <li>Механизмы расточки уплотнительных поверхностей</li>
                                <li>Механизмы шлифовки задвижек</li>
                                <li>Механизмы наплавки уплатнительных поверхностей </li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="production_item_wrap">
                    <a href="#" class="production_item">
                        <div class="production_item--img" style="background: url(/static/main/img/dlya-aes.png);">
                            <div class="blu_rectangle">
                                <img src="/static/main/img/truborez-ico.png" alt="#">
                            </div>
                        </div>
                        <div class="production_item--text">
                            <p class="production_item_title">
                                Оборудование для АЭС
                            </p>
                            <ul>
                                <li>Механизмы для восстановления ресурсных характеристик</li>
                                <li>Специальные сварочные головки для АЭС </li>
                                <li>Дополнительное оборудование</li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="production_item_wrap">
                    <a href="#" class="production_item">
                        <div class="production_item--img" style="background: url(/static/main/img/prochee.png);">
                            <div class="blu_rectangle">
                                <img src="/static/main/img/truborez-ico.png" alt="#">
                            </div>
                        </div>
                        <div class="production_item--text">
                            <p class="production_item_title">
                                Прочее оборудование
                            </p>
                            <ul>
                                <li>Механизм для зачистки труб</li>
                                <li>Фрезерный механизм</li>
                                <li>Механизм для наружной расточки</li>
                                <li>Обработка уплотнительных поверхностей</li>
                                <li>Оборудование для тепообменников</li>
                            </ul>
                        </div>
                    </a>    
                </div>
                
            </div>
        </div>
    </div>
</section>


<section class="in_numbers">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="in_numbers__wrap">
                    <div class="in_numbers__title">
                        О нас в цифрах
                    </div>
                    <div class="in_numbers__list">
                        <div class="in_numbers__item">
                            <div class="in_numbers__circle">
                                <p class="circle_text">30 лет</p>
                            </div>
                            <p class="in_numbers__text">Опыт работы</p>
                        </div>

                        <div class="in_numbers__item">
                            <div class="in_numbers__circle">
                                <p class="circle_text">500+</p>
                            </div>
                            <p class="in_numbers__text">Разработано более 500 механизмов</p>
                        </div>

                        <div class="in_numbers__item">
                            <div class="in_numbers__circle">
                                <p class="circle_text">1200+</p>
                            </div>
                            <p class="in_numbers__text">Довольных клиентов</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="video">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title">Видео</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="video_item">
                    <div class="video_in">
                        <img class="play_btn" src="/static/main/img/play.png" alt="play">
                        <img class="video_prew_img" src="/static/main/img/video-prew-1.png" alt="Отрезка трубы 1020х8 разъемным
                    труборезом Р59117">
                        <!-- <iframe class="youtube" width="100%" height="auto" src="https://www.youtube.com/watch?v=dfYcuhnRIVM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                    </div>
                    <div class="video_item_text">
                        Фаскорез КОНСТАР Р59128
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                
                    <div class="video_item">
                        <div class="video_in">
                            <img class="play_btn" src="/static/main/img/play.png" alt="play">
                            <img class="video_prew_img" src="/static/main/img/video-prew-2.png" alt="Отрезка трубы 1020х8 разъемным
                        труборезом Р59117">
                            <!-- <iframe class="youtube" width="100%" height="auto" src="https://www.youtube.com/watch?v=flMnv1PFVZU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                        </div>
                        <div class="video_item_text">
                            Труборез Р5941
                        </div>
                    </div>
                
            </div>

            <div class="col-md-4">
                
                    <div class="video_item">
                        <div class="video_in">
                            <img class="play_btn" src="/static/main/img/play.png" alt="play">
                            <img class="video_prew_img" src="/static/main/img/video-prew-3.png" alt="Отрезка трубы 1020х8 разъемным
                        труборезом Р59117">
                            <!-- <iframe class="youtube" width="100%" height="auto" src="https://www.youtube.com/embed/NBGJqOkjN00" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                        </div>
                        <div class="video_item_text">
                            Труборез Р5941
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</section>

<section class="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title">
                    Клиенты и партнёры
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="clients_slider">
                    <div class="clients_carousel owl-carousel">
                        <div class="item">
                            <a href="#" class="slide_item" style="background-image:url('/static/main/img/gazprom.png');"></a>
                        </div>
                        <div class="item">
                            <a href="#" class="slide_item" style="background-image:url('/static/main/img/rosatom.png');"></a>
                        </div>
                        <div class="item">
                            <a href="#" class="slide_item" style="background-image:url('/static/main/img/rosenergo.png');"></a>
                        </div>
                        <div class="item">
                            <a href="#" class="slide_item" style="background-image:url('/static/main/img/rosneft.png');"></a>
                        </div>
                        <div class="item">
                            <a href="#" class="slide_item" style="background-image:url('/static/main/img/titan2.png');"></a>
                        </div>
                        <div class="item">
                            <a href="#" class="slide_item" style="background-image:url('/static/main/img/tatneft.png');"></a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
