{% extends 'main/base.html' %} 
{% load static %}

{% block content %}

    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="breadcrumbs_list">
              <li>
                <a href="#"><img src="/static/main/img/ico_home.svg" alt="home" /></a>
              </li>
              <li><a href="#">Обслуживание</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="service_hero_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="service_hero_img">
              <img src="/static/main/img/service-hero-img.png" alt="Konstar" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="service_hero_title">Сервисное обслуживание</div>
            <div class="service_hero_text">
              <p>
                Вовремя проведенный независимыми специалистами аудит технических
                и технологических решений, позволяет оценить эффективность
                использования производственных мощностей и эффективность
                технологических процессов. Специалисты Компании "Рутектор"
                оказывают услуги энергоаудита, аудита пневмосистемы и сварочного
                производства.
              </p>

              <p>
                На основе результатов полученных при проведении исследований
                различных систем, клиентам передается подробный отчет о
                результатах с рекомендациями по решению выявленных проблем, по
                повышению эффективности эксплуатации систем, подбору
                оборудования и проектированию производственных линий.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="service_what_section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="service_what_item">
              <div class="what_item_title">Что такое Lorem Ipsum?</div>
              <div class="what_item_text">
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и
                вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для
                текстов на латинице с начала XVI века. В то время некий
                безымянный печатник создал большую коллекцию размеров и форм
                шрифтов, используя Lorem Ipsum для распечатки образцов.
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service_what_item">
              <div class="what_item_title">Что такое Lorem Ipsum?</div>
              <div class="what_item_text">
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и
                вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для
                текстов на латинице с начала XVI века. В то время некий
                безымянный печатник создал большую коллекцию размеров и форм
                шрифтов, используя Lorem Ipsum для распечатки образцов.
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service_what_item">
              <div class="what_item_title">Что такое Lorem Ipsum?</div>
              <div class="what_item_text">
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и
                вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для
                текстов на латинице с начала XVI века. В то время некий
                безымянный печатник создал большую коллекцию размеров и форм
                шрифтов, используя Lorem Ipsum для распечатки образцов.
              </div>
            </div>
          </div>
          <div class="why_line"></div>
        </div>
      </div>
    </div>

    <div class="service_three_img_section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="three_img_wrap">
              <img src="/static/main/img/three-img1.png" alt="" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="three_img_wrap">
              <img src="/static/main/img/three-img2.png" alt="" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="three_img_wrap">
              <img src="/static/main/img/three-img3.png" alt="" />
            </div>
          </div>
          <div class="why_line"></div>
        </div>
      </div>
    </div>

    <div class="service_text_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="service_text_block">
              Вовремя проведенный независимыми специалистами аудит технических и
              технологических решений, позволяет оценить эффективность
              использования производственных мощностей и эффективность
              технологических процессов. Специалисты Компании "Рутектор"
              оказывают услуги энергоаудита, аудита пневмосистемы и сварочного
              производства. На основе результатов полученных при проведении
              исследований различных систем, клиентам передается подробный отчет
              о результатах с рекомендациями по решению выявленных проблем, по
              повышению эффективности эксплуатации систем, подбору оборудования
              и проектированию производственных линий.
            </div>
          </div>
          <div class="col-md-6">
            <div class="service_text_block">
              Вовремя проведенный независимыми специалистами аудит технических и
              технологических решений, позволяет оценить эффективность
              использования производственных мощностей и эффективность
              технологических процессов. Специалисты Компании "Рутектор"
              оказывают услуги энергоаудита, аудита пневмосистемы и сварочного
              производства. На основе результатов полученных при проведении
              исследований различных систем, клиентам передается подробный отчет
              о результатах с рекомендациями по решению выявленных проблем, по
              повышению эффективности эксплуатации систем, подбору оборудования
              и проектированию производственных линий.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="service_video_section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="service_video_wrap">
              <a
                class="video_block"
                data-fancybox=""
                data-type="iframe"
                data-src="https://www.youtube.com/embed/GrNABIbDerg"
                href="javascript:;"
                class="video_block"
              >
                <img
                  src="/static/main/img/service_video_prew.png"
                  class="video_prev"
                  alt="video"
                />
                <img src="/static/main/img/play_btn.png" class="video_btn" alt="play now" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="service_tech_text">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="tech_text_title">
              Техническое обслуживание весового оборудования
            </div>

            <div class="tech_text_content">
              <p class="tech_content_list_title">
                В перечень услуг по техническому обслуживанию весового
                оборудования входят следующие работы:
              </p>
              <ul class="tech_content_list">
                <li>
                  1. Проверка соответствия условий эксплуатации оборудования;
                </li>
                <li>
                  2. Внешний осмотр оборудования (проверка сохранности пломб,
                  отсутствие механических повреждений корпусов оборудования,
                  соединительных кабелей, наличие заземлений, следов коррозии и
                  пр.);
                </li>
                <li>
                  3. Общая диагностика оборудования, чистка, смазка печатающего
                  устройства, датчиков, фрикционных узлов и т. д.;
                </li>
                <li>4. Проверка правильности показаний весов;</li>
                <li>
                  5 Контроль своевременности прохождения государственной
                  метрологической поверки весового оборудования;
                </li>
                <li>
                  6. Подготовка оборудования для прохождения государственной
                  метрологической поверки;
                </li>
                <li>
                  7. Обеспечение соблюдения техники безопасности при включении
                  оборудования;
                </li>
                <li>8. Оформление технической и финансовой документации.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="service_tech_text">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="tech_text_title">
              Техническое обслуживание оборудования для идентификации продукции
            </div>

            <div class="tech_text_content">
              <p>
                Специфика работы электронного оборудования для идентификации и
                учета продукции (сканеры штрих-кода, терминалы сбора данных)
                обуславливает определенные особенности его технического
                обслуживания.
              </p>

              <p class="tech_content_list_title">
                Специалисты сервисных компаний производят следующий перечень
                работ по обслуживанию такого оборудования:
              </p>
              <ul class="tech_content_list">
                <li>
                  · Проверка соответствия условий эксплуатации оборудования;
                </li>
                <li>
                  · Внешний осмотр оборудования (проверка сохранности пломб,
                  отсутствие механических повреждений корпусов оборудования,
                  соединительных кабелей, наличие заземлений, следов коррозии и
                  пр.);
                </li>
                <li>
                  · Комплексная диагностика работоспособности оборудования;
                </li>
                <li>· Оценка качества распознавания штрих-кодов;</li>
                <li>
                  · Диагностика, контроль и настройка работы программного
                  обеспечения терминалов сбора данных;
                </li>
                <li>· Обновление программного обеспечения оборудования;</li>
                <li>· Оформление технической и финансовой документации.</li>
              </ul>

              <p class="tech_content_list_title">
                Что же касается стоимости предоставляемых услуг, то существует
                несколько ключевых параметров, которые ее определяют, а именно:
              </p>
              <ul class="tech_content_list">
                <li>· Время реагирования (прибытия на объект Заказчика);</li>
                <li>
                  · Осуществление аварийных вызовов в выходные дни и в ночное
                  время;
                </li>
                <li>· Срок восстановления работоспособности оборудования;</li>
                <li>
                  · Формирование подменного фонда для техники, которая находится
                  на сервисном обслуживании.
                </li>
              </ul>

              <p class="tech_content_list_title">Заявка должна содержать:</p>
              <ul class="tech_content_list">
                <li>· описание характера неисправности;</li>
                <li>· данные гарантии на оборудование;</li>
                <li>· точный адрес установки;</li>
                <li>· серийный номер данного оборудования;</li>
                <li>· номер настоящего договора;</li>
                <li>
                  · контактные данные заявителя (ФИО, телефон, название
                  юридического лица).
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}