{% extends 'main/base.html' %} {% load static %} {% block content %}

<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="breadcrumbs_list">
          <li>
            <a href="#"
              ><img src="/static/main/img/ico_home.svg" alt="home"
            /></a>
          </li>
          <li><a href="#">Услуги</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="services_sidebar">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="sidebar_section">
          <div class="services_menu">
            <ul>
              <li><a href="#">Гарантия</a></li>
              <li><a href="#">Ремонт</a></li>
              <li>
                <a href="{% url 'service' %}">Техническое обслуживание</a>
              </li>
              <li><a href="#">Аренда</a></li>
              <li><a href="#">Пуско-наладочные работы</a></li>
              <li><a href="#">Демонстрация оборудования</a></li>
              <li><a href="#">Разработка оборудования по ТЗ</a></li>
              <li><a href="#">Доставка</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="service_main_section">
          <div class="services_hero_img">
            <img src="/static/main/img/service-hero-img.png" alt="Konstar" />
          </div>
          <div class="services_title_block">
            <h4>Проектирование и технический аудит</h4>
            <p>
              Вовремя проведенный независимыми специалистами аудит технических и
              технологических решений, позволяет оценить эффективность
              использования производственных мощностей и эффективность
              технологических процессов. Специалисты Компании "Рутектор"
              оказывают услуги энергоаудита, аудита пневмосистемы и сварочного
              производства. На основе результатов полученных при проведении
              исследований различных систем, клиентам передается подробный отчет
              о результатах с рекомендациями по решению выявленных проблем, по
              повышению эффективности эксплуатации систем, подбору оборудования
              и проектированию производственных линий.
            </p>
          </div>
        </div>
        <div class="services_img_block">
          <div class="row">
            <div class="col-md-6">
              <img src="/static/main/img/service-img1.png" alt="Konstar" />
            </div>
            <div class="col-md-6">
              <img src="/static/main/img/service-img2.png" alt="Konstar" />
            </div>
          </div>
          <div class="why_line"></div>
        </div>

        <div class="services_text_block">
          Вовремя проведенный независимыми специалистами аудит технических и
          технологических решений, позволяет оценить эффективность использования
          производственных мощностей и эффективность технологических процессов.
          Специалисты Компании "Рутектор" оказывают услуги энергоаудита, аудита
          пневмосистемы и сварочного производства. На основе результатов
          полученных при проведении исследований различных систем, клиентам
          передается подробный отчет о результатах с рекомендациями по решению
          выявленных проблем, по повышению эффективности эксплуатации систем,
          подбору оборудования и проектированию производственных линий.
        </div>
        <div class="services_why_block">
          <div class="row">
            <div class="col-md-6">
              <div class="services_why_item">
                <p class="services_why_title">Что такое Lorem Ipsum?</p>
                <p class="service_why_content">
                  Lorem Ipsum - это текст-"рыба", часто используемый в печати и
                  вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для
                  текстов на латинице с начала XVI века. В то время некий
                  безымянный печатник создал большую коллекцию размеров и форм
                  шрифтов, используя Lorem Ipsum для распечатки образцов.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="services_why_item">
                <p class="services_why_title">Что такое Lorem Ipsum?</p>
                <p class="service_why_content">
                  Lorem Ipsum - это текст-"рыба", часто используемый в печати и
                  вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для
                  текстов на латинице с начала XVI века. В то время некий
                  безымянный печатник создал большую коллекцию размеров и форм
                  шрифтов, используя Lorem Ipsum для распечатки образцов.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="services_why_item">
                <p class="services_why_title">Что такое Lorem Ipsum?</p>
                <p class="service_why_content">
                  Lorem Ipsum - это текст-"рыба", часто используемый в печати и
                  вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для
                  текстов на латинице с начала XVI века. В то время некий
                  безымянный печатник создал большую коллекцию размеров и форм
                  шрифтов, используя Lorem Ipsum для распечатки образцов.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="services_why_item">
                <p class="services_why_title">Что такое Lorem Ipsum?</p>
                <p class="service_why_content">
                  Lorem Ipsum - это текст-"рыба", часто используемый в печати и
                  вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для
                  текстов на латинице с начала XVI века. В то время некий
                  безымянный печатник создал большую коллекцию размеров и форм
                  шрифтов, используя Lorem Ipsum для распечатки образцов.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="services_video_wrap">
          <a
            class="video_block"
            data-fancybox=""
            data-type="iframe"
            data-src="https://www.youtube.com/embed/GrNABIbDerg"
            href="javascript:;"
            class="video_block"
          >
            <img
              src="/static/main/img/service_video_prew.png"
              class="video_prev"
              alt="video"
            />
            <img
              src="/static/main/img/play_btn.png"
              class="video_btn"
              alt="play now"
            />
          </a>
        </div>

        <div class="gallery_block">
          <div class="gallery_block_title">Галерея выполненных проектов</div>

          <div class="services_slider owl-carousel">
            <div class="item"><img src="/static/main/img/slide.png" /></div>
            <div class="item"><img src="/static/main/img/slide.png" /></div>
            <div class="item"><img src="/static/main/img/slide.png" /></div>
            <div class="item"><img src="/static/main/img/slide.png" /></div>
            <div class="item"><img src="/static/main/img/slide.png" /></div>
            <div class="item"><img src="/static/main/img/slide.png" /></div>
            <div class="item"><img src="/static/main/img/slide.png" /></div>
            <div class="item"><img src="/static/main/img/slide.png" /></div>
            <div class="item"><img src="/static/main/img/slide.png" /></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
